body {
  background: yellow;
  font-family: arial; }
  body h1 {
    color: green; }
    body h1.important {
      color: red; }
  body h2 {
    text-transform: uppercase; }
  body .menu {
    border: 1px solid blue; }
